<h2>What is Fluomics?</h2>

<p>Multiscale Analysis of Influenza Host-Pathogen Interactions (FLUOMICS) is a National Institute of Allergy and Infectious Diseases - funded genetics study of the influenza A virus-host interaction. Your medical information and blood sample will help us determine how your genes determine your capacity to fight the influenza A virus and which parts of the immune system is important in the disease. Through this research study, we hope to find new ways to prevent or treat this often serious, respiratory virus infection. Click here <%= link_to 'http://www.fluomics.org/', 'http://www.fluomics.org/' %> for more details.</p>

<hr>
<h2>Learn more and enroll</h2>

<div class="row">
  <section class="widget">
    <%= link_to 'I am currently in a doctor’s office or in the hospital and my doctor is testing me for a respiratory infection', new_currently_ill_consent_path %>
  </section>
</div>

<div class="row">
  <section class="widget">
    <%= link_to 'I received a letter inviting me to participate in a Flu study because I had a test that was positive for Influenza A virus within the past 10 years', new_previously_ill_consent_path %>
  </section>
</div>

<hr>
<h3>Questions? call 312.503.FLUA (3582)</h3>
