<h2>Links</h2>
<div class="row">
  <section class="widget">
    <ul>
      <li><%= link_to 'http://www.nmh.org/nm/infectious-disease', 'http://www.nmh.org/nm/infectious-disease' %></li>
      <li><%= link_to 'http://www.fluomics.org/', 'http://www.fluomics.org/' %></li>
    </ul>
  </section>
</div>
