<div class="row">
  <div class="col-md-6">
    <h2>What is Fluomics?</h2>

    <p>MULTISCALE ANALYSIS OF INFLUENZA HOST-PATHOGEN INTERACTIONS (FLUOMICS) is a National Institute of Allergy and Infectious Diseases - funded genetics study of the influenza A virus-host interaction. Your medical information and blood sample will help us determine how your genes determine your capacity to fight the influenza A virus and which parts of the immune system is important in the disease. Through this research study, we hope to find new ways to prevent or treat this often serious, respiratory virus infection. Click here <%= link_to 'http://www.fluomics.org/', 'http://www.fluomics.org/' %> for more details.</p>
  </div>
</div>
