<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width"/>
  <%= render 'styles' %>
</head>
<body>
	<table class="body">
		<tr>
			<td class="center" align="center" valign="top">
        <center>
         
          <table class="container">
            <tr>
              <td>
              
                <table class="row">
                  <tr>
                    <td class="wrapper last">
                  
                      <table class="twelve columns">
                        <tr>
                          <td>
                            <h3>Fluomics Baseline Survey</h3>
                						<p class="lead">Thank you for your participation in the Fluomics study!</p>
                						<p>As a participant, you will:
<ul>
  <li>Complete a brief 2 minute baseline questionnaire right now</li>
  <li>Receive an email with the results of your flu test (positive or negative)</li>
  <li>If you test <b>positive for the flu</b>, you will receive a daily email for up to 14 days with a link to a checklist of your flu symptoms for that day.  Please try to complete it daily!</li>
  <li>If you test <b>negative for the flu</b>, you will receive an email letting you know that you have completed your participation.</li>
</ul>
</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                  
                    </td>
                  </tr>
                </table>
              
                <table class="row callout">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="panel">
                            <p>Thank you for your participation!  You are helping scientists to better understand and treat the flu. <%= link_to 'Take the Baseline Survey', survey_url(@survey, survey_token: SurveyRules.new(@survey.id, @user.id, Date.today.to_s(:db)).make_token, user_id: @user.id) %></p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
              
              <!-- container end below -->
              </td>
            </tr>
          </table> 

        </center>
			</td>
		</tr>
	</table>
</body>
</html>
