<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width"/>
  <%= render 'styles' %>
</head>
<body>
	<table class="body">
		<tr>
			<td class="center" align="center" valign="top">
        <center>
         
          <table class="container">
            <tr>
              <td>
              
                <table class="row">
                  <tr>
                    <td class="wrapper last">
                  
                      <table class="twelve columns">
                        <tr>
                          <td>
                            <h3>Fluomics Blood draw appointment</h3>
                						<p class="lead">Thank you for your participation in the Fluomics study!</p>
                						<p>As a participant, you will:
                              <ul>
                                <li>Come in for a blood draw on YOUR SCHEDULED DAY at:<br />
                                  Northwestern Medicine Infectious Disease Center<br />
                                  Arkes Pavilion 9th Floor, Suite 940, 251 E Huron Street, Chicago, IL 60611
                                </li>
                                <li>You may come in on your scheduled day anytime between <b>8:00am and 4:00pm</b>.</li>
                                <li>You will receive $10 for completing the blood draw.</li>
                              </ul>
                              If you have any questions about scheduling or your participation, please call 312-503-FLUA (3582).
                            </p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                  
                    </td>
                  </tr>
                </table>
              
              <!-- container end below -->
              </td>
            </tr>
          </table> 

        </center>
			</td>
		</tr>
	</table>
</body>
</html>

