<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width"/>
  <%= render 'styles' %>
</head>
<body>
	<table class="body">
		<tr>
			<td class="center" align="center" valign="top">
        <center>
         
          <table class="container">
            <tr>
              <td>
              
                <table class="row">
                  <tr>
                    <td class="wrapper last">
                  
                      <table class="twelve columns">
                        <tr>
                          <td>
                            <h3>Fluomics Daily Survey</h3>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                  
                    </td>
                  </tr>
                </table>
              
                <table class="row callout">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="panel">
                            <p>
                              <% if @surveys.count == 1 %>
                                Please click the link to complete your daily flu symptoms checklist.  It should only take a minute!
                              <% else %>
                                Today is the last day of tracking your flu symptoms!  Thank you so much for your participation.
                              <% end %>
                            </p>
                            <% @surveys.each do |survey| %>
                              <p><%= link_to survey.title, survey_url(survey, survey_token: SurveyRules.new(survey.id, @user.id).make_token, user_id: @user.id) %></p>
                            <% end %>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
              
              <!-- container end below -->
              </td>
            </tr>
          </table> 

        </center>
			</td>
		</tr>
	</table>
</body>
</html>
